.scoreboard {
    font-size: 1.1rem;
    width: auto;
    display: inline-grid;
    grid-template: 1fr/0.5fr auto 10vw;
    background-color: #1890ff;
    color: white;
    border: 3px solid #1890ff;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.teams {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sets {
    padding: 0px 5px;
    display: flex;
    justify-content: space-around;
}