body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fixed-header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #000;
}

.fixed-header nav {
  display: flex;
  padding: 1.5rem;
}

.fixed-header nav li {
  list-style-type: none;
}

.dropbtn {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  top:2rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: orange;
}

.texto {
  /* margin-bottom: 3rem; */
  margin: 0 1rem 3rem;
}

.texto #coordenacao {
  text-align: right;
}

.fixed-footer {
  background: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}


.conteudo {
  margin-top: 14px;
  display: grid;
}


.banner {
  justify-self: center;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888;

  max-width: 100%;
  height: auto;
}

.centralizado {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;

  padding: 0 12px;

  flex-grow: 1;
}

.secoes {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2rem 0;
  padding: 10px 12px ;

  color:white;
  text-align: center;
  background-color: #506380;

  border-radius: 5px;

  font-size: 16px;
}

.botao {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.botao:hover{
  background-color: yellow;
}

.titulo {
  border-bottom: 5px solid orange;
}

a {
  text-decoration: none;
}